/* https://www.canva.com/learn/website-color-schemes/ */
body {
  /* #17: modern and clean */

  --lightgrey:  #dde1dd;
  --tangerine:  #e37222;
  --teal:  #07889b;
  --powder:  #66b9bf;
  --tan:  #eeaa78;
 

  --grain:  #d7cec7;
  --blackboard:  #565656;
  --maroon:  #76323F;
  --tan:  #c09f80;

  /* #5 warm tones */
}
html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}
#app {
  width: 100%;
  min-height: 100%;
  border: 1px solid #000;
  position: relative;
  display: flex;
  font-family: Arial;
  margin: 0px auto;
  background-color:  var(--lightgrey);
}
.ui-content {
  margin-top: 20px;
}
h2 {
  padding: 4px 0px;
  margin: 0px;
  font-size: 14px;
  text-align: center;
  background-color: var(--teal);
  color: white;
  width: 100%;
}
#app .page {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  flex-direction: column;
  transition: 0.4s ease;
}
#app .page.active {
  opacity: 1;
  pointer-events: auto;
  transition: 0.4s ease;
 
}

ul.nav {
  list-style-type: none;
  display: flex;
  margin-left: 0px;
  padding-left: 0px;
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100%;
  margin-bottom: 0px;
  justify-content: space-around;
}
ul.nav li {
  margin-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
}
ul.nav li a {
  text-decoration: none;
  text-align: center;
  display: block;
  background-color: #ffe;
  border: 1px solid dodgerblue;
  color: dodgerblue;
  padding: 5px 20px;
  width: calc(100% - 40px);
  border-radius: 20px;
  transition: 0.2s ease;
}
ul.nav li a:hover {
  color: #ffe;
  background-color: dodgerblue;
  transition: 0.2s ease;
}
ul.home-menu {
  list-style-type:  none;
  max-width:  248px;
  margin:  20px auto;
  margin-left:  0px;
  padding-left:  0px;
  display:  flex;
  flex-wrap:  wrap;

}
ul.home-menu li {


}
ul.home-menu li a {
  text-decoration:  none;
  display:  block;
  width:  120px;
  height:  120px;
  color:  white;
  display:  flex;
  justify-content:  center;
  align-items:  center;
  background-color:  var(--tangerine);
  margin:  2px;
}
ul.home-menu li a.order {
    background-color:  var(--tangerine);
}
ul.home-menu li a.contact {
    background-color:  var(--powder);
}
ul.home-menu li a.about {
    background-color:  var(--teal);
}
ul.home-menu li a.locations {
    background-color:  var(--tan);
}
/* placeholder screen colors */
/*
#app_home_path {
  background-color: lightblue;
}
#app_order_path {
  background-color: lightyellow;
}
#app_contact_path {
  background-color: lightpink;
}*/